.main-header-search-link {
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
}

.search {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.orders-list-item-link {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}

.button-order-link {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}

.top-coordinates-text {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.top-coordinates-text-tel {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.top-coordinates-text {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.access-navigation-list-item-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.access-navigation-list-item-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;	
}